<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    show-clear-button="focus"
    placeholder="Enter movie title"
    class="custom"
    (ionInput)="handleInput($event)"
  ></ion-searchbar>
  <div class="content-wrapper">
    <ion-list>
      <app-search-movie-element
        *ngFor="let result of results"
        [movie]="result"
        [routerLink]="result.id"
      >
      </app-search-movie-element>
    </ion-list>
  </div>
</ion-content>
