.movie-card-title{
    margin-left: 7px;
    margin-right: 5px;
}

.movie-card-img{
    max-height: 143px;
    border: 1px solid #f4f5f8;
}

span{
    font-size: 12px;
    font-weight: 400;
}

b{
    font-weight: 500;
    font-size: 14px;
}

.span-year-genre{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.bottomRow
{
  margin-top: -20px;
}

.lastRow
{
  margin-top: -10px;
}

p{
    font-size: 13px;
    text-align: justify;
    margin-right: 6px;
}

.avatar{
    max-height: 40px;
    width: auto;
}

.reviews{
    margin-left: 7px;
    margin-right: 5px;
}

.review-text{
    margin-top: 5px;
    margin-bottom: 1px;
}