<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="movie.coverUrl" />
  <div class="movie-card-title">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <h4>{{movie.title}}</h4>
          <span> DIRECTED BY <br /><b>{{movie.director}}</b></span>
          <p class="span-year-genre">{{movie.releaseYear}} · {{movie.genre}} · {{movie.length}} </p>
          <br />
        </ion-col>
        <ion-col size="4">
          <img [src]="movie.imageUrl" class="movie-card-img" />
        </ion-col>
      </ion-row>
      <ion-row class="bottomRow">
        <ion-col>
          <p>{{movie.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="lastRow">
        <ion-col>
          <span> CAST <br /><b>{{movie.cast}}</b></span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span> REVIEWS <br /></span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="reviews">
    <ion-list>
      <app-review-element
        *ngFor="let review of reviews"
        [review]="review"
      ></app-review-element>
    </ion-list>
    <br />
  </div>
  <div class="add-review-form">
    <form #reviewForm="ngForm" id="form" (ngSubmit)="addMovieReview(reviewForm)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span> ADD REVIEW <br /></span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="areaField">
              <ion-textarea
                type="text"
                rows="4"
                placeholder="Enter your review..."
                ngModel
                name="review"
                required
                #review="ngModel"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-button type="submit" expand="block" size="small" [disabled]="reviewForm.invalid">
              ADD
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
