<ion-header>
  <ion-toolbar>
    <ion-title>Add Movie</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onAddMovie()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Movie Title</ion-label>
            <ion-input type="text" ngModel name="title" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Release Year</ion-label>
            <ion-input type="text" ngModel name="releaseYear" required></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="6">
          <ion-item>
            <ion-select placeholder="Select genre" ngModel name="genre" required>
              <ion-select-option value="thriller">Thriller</ion-select-option>
              <ion-select-option value="action">Action</ion-select-option>
              <ion-select-option value="comedy">Comedy</ion-select-option>
              <ion-select-option value="drama">Drama</ion-select-option>
              <ion-select-option value="crime">Crime</ion-select-option>
              <ion-select-option value="romance">Romance</ion-select-option>
              <ion-select-option value="horror">Horror</ion-select-option>
              <ion-select-option value="animated">Animated</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Director</ion-label>
            <ion-input type="text" ngModel name="director" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Cast</ion-label>
            <ion-textarea type="text" rows="2" ngModel name="cast" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea
              type="text"
              rows="5"
              placeholder="Enter movie description..."
              ngModel name="description" required
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" [disabled]="f.invalid">
            Add Movie
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
