.movie-card-img {
  max-height: 93px;
  border: 1px solid #f4f5f8;
}

span {
  font-size: 13px;
  font-weight: 400;
}

b {
  font-weight: 500;
}

.span-year-genre {
  font-size: 13px;
  font-weight: 400;
  margin-top: 4px;
}

h6 {
  font-size: 15px;
  margin-top: 0px;
}

.icon {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 4px;
}
