.content-wrapper {
  margin: 20px 15px;
  font-size: 13px;
}

ion-text{
  font-weight: 500;
  margin-top: 10px;
}

.term-list{
  margin-left: 10px;
  margin-right: 10px;
}

.text{
  margin-left: 12px;
  margin-top: 2px;
}
