<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <p>
      By downloading, installing, or using the Flicks movie review app, you
      agree to comply with and be bound by these terms and conditions.
    </p>
    <div class="term-list">
      <ion-text>1. User Eligibility </ion-text>
      <p class="text">
        Users must be of legal age in their respective jurisdictions to use the
        app. Users under the legal age should have parental consent.
      </p>
      <ion-text>2. User Accounts </ion-text>
      <p class="text">
        Users may need to create an account to use certain features of the app.
        Users are responsible for maintaining the confidentiality of their
        account information.
      </p>
      <ion-text>3. User Conduct </ion-text>
      <p class="text">
        Users agree not to: <br />
        &#8226; Use the app for any unlawful purpose. <br />
        &#8226; Post or transmit any content that is offensive, obscene, or
        infringes on the rights of others. <br />
        &#8226; Engage in any activity that could harm the app's integrity or
        interfere with its normal functioning. <br />
      </p>
      <ion-text>4. Content Submission </ion-text>
      <p class="text">
        Users can submit movie reviews, comments, or other content. By
        submitting content, users grant the app owner a non-exclusive,
        royalty-free license to use, modify, and display the content.
      </p>
      <ion-text>5. Intellectual Property </ion-text>
      <p class="text">
        All intellectual property rights related to the app, including but not
        limited to trademarks, copyrights, and patents, are owned by the app
        owner. Users agree not to infringe upon these rights.
      </p>
      <ion-text>6. Termination of Account </ion-text>
      <p class="text">
        The app owner reserves the right to terminate or suspend user accounts
        at any time, without prior notice, for violations of these terms and
        conditions.
      </p>
      <ion-text>7. Changes to Terms </ion-text>
      <p class="text">
        The app owner reserves the right to modify these terms and conditions at
        any time. Users will be notified of changes, and continued use of the
        app constitutes acceptance of the modified terms.
      </p>
      <ion-text>8. Contact Information </ion-text>
      <p class="text">
        Users can contact the app owner at flicks@gmail.com for any questions or
        concerns regarding these terms and conditions.
      </p>
    </div>
    <p>
      By using the app, users acknowledge that they have read, understood, and
      agreed to these terms and conditions.
    </p>
  </div>
</ion-content>
