/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

@import url("https://fonts.cdnfonts.com/css/graphik-trial");

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
  font-family: "Graphik Trial", sans-serif;
}

*,
body {
  font-family: "Graphik Trial", sans-serif;
}

:root {
  --ion-background-color: var(--ion-color-tertiary);
  --ion-text-color: var(--ion-color-light);
  ion-tab-button.tab-selected {
    ion-icon,
    ion-label {
      color: var(--ion-color-light) !important;
      --ion-color-base: var(--ion-color-light) !important;
    }
  }
}

ion-tabs,
ion-tab-bar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

ion-icon,
ion-label {
  color: var(--ion-color-light) !important;
  --ion-color-base: var(--ion-color-light) !important;
}

ion-item {
  --border-color: #373d48;
}

.auth-alert .alert-message {
  white-space: pre;
}

ion-alert {
  // Header Text
  .alert-title.sc-ion-alert-md {
    font-size: 20px;
    font-weight: 500;
  }

  // checkbox border color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: #f4f5f8;
  }

  // checkbox or radio button color
  .alert-radio-inner.sc-ion-alert-md {
    background-color: #f4f5f8 !important;
  }

  // wrap the text
  .alert-radio-label.sc-ion-alert-md {
    white-space: pre-line !important;
    color: var(--ion-text-color, #000000b3);
    font-weight: 400;
  }

  // Height of text
  .alert-tappable.sc-ion-alert-md {
    height: 40px !important;
  }

  // Checked text color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: var(--ion-color-step-850, #f4f5f8);
  }

  // Button color
  .alert-button-inner.sc-ion-alert-md {
    color: #f4f5f8;
    font-weight: 500;
    font-size: medium;
  }
}
